# 数据集

In [1]:
# 查看位置
import os
print(os.path.abspath('.'))

D:\a_study\model\chuneng\WindChaser-master - 副本\data

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('12312.csv', on_bad_lines='skip')

In [3]:
df.head(-1)

,date,power (MW),wind direction at 100m (deg),wind speed at 100m (m/s),air temperature at 2m (K),surface air pressure (Pa),density at hub height (kg/m^3)
0,2017/1/1 0:00,43.6,6.80,275.6,-0.77,832.0,42.0
1,2017/1/1 0:15,46.4,6.20,282.3,-0.75,831.6,42.0
2,2017/1/1 0:30,48.4,5.70,278.3,-1.00,831.0,43.0
3,2017/1/1 0:45,48.4,6.30,278.7,-0.98,831.0,43.0
4,2017/1/1 1:00,52.9,6.40,278.4,-0.98,831.0,44.0
...,...,...,...,...,...,...,...
35034,2017/12/31 22:30,10.9,3.63,139.6,-0.46,828.0,26.0
35035,2017/12/31 22:45,10.4,3.62,144.0,-0.67,828.0,27.0
35036,2017/12/31 23:00,11.7,2.94,141.2,-0.78,828.0,27.0
35037,2017/12/31 23:15,15.9,3.63,155.9,-0.82,828.0,28.0
35038,2017/12/31 23:30,22.3,3.49,155.9,-0.99,828.0,29.0

In [11]:
import pandas as pd

# 创建一个时间范围，从2019年10月1日00:00开始，到2020年10月31日23:59结束，时间间隔为15分钟
date_range = pd.date_range(start="2019-10-01 00:00", end="2020-10-31 23:59", freq="15T")

# 创建一个包含时间戳的DataFrame
df = pd.DataFrame({'timestamp': date_range})

# 现在，你可以读取你的CSV文件并将新的时间戳列与其合并
# 假设你的CSV文件名为data.csv，包含其他数据列
data = pd.read_csv('123123.csv')

# 合并DataFrame，假设你要将新的时间戳列添加到已有的数据中
merged_df = pd.concat([data, df], axis=1)

# 如果需要，你可以将合并后的DataFrame保存回CSV文件
# merged_df.to_csv('data_with_timestamp.csv', index=False)

In [5]:
data.head()

NameError: name 'data' is not defined

In [9]:

import numpy as np

print(df.shape)

(35710, 12)

In [4]:
data5_6 = df.iloc[29200:35040]
print("Length of original data3 : ", len(data5_6))

Length of original data3 :  5840

In [5]:
data5_6.to_csv('5_6.csv', index=False)

In [3]:
print("Length of original data : ", len(df))

Length of original data :  105408

In [18]:
data1 = df.iloc[0:17568]

In [19]:
print("Length of original data1 : ", len(data1))

Length of original data1 :  17568

In [20]:
data1

,date,wind direction at 100m (deg),wind speed at 100m (m/s),air temperature at 2m (K),surface air pressure (Pa),density at hub height (kg/m^3),OT
0,2012/1/1 0:00,139.827,3.256,278.031,102015.408,1.254,0.037
1,2012/1/1 0:05,142.810,3.289,278.070,102019.072,1.254,0.040
2,2012/1/1 0:10,144.975,3.378,278.095,102022.736,1.254,0.049
3,2012/1/1 0:15,145.431,3.433,278.125,102024.560,1.254,0.054
4,2012/1/1 0:20,144.772,3.457,278.159,102026.400,1.254,0.056
...,...,...,...,...,...,...,...
17563,2012/3/1 23:35,185.718,3.228,276.071,102180.200,1.277,0.036
17564,2012/3/1 23:40,185.256,3.256,276.044,102188.448,1.277,0.039
17565,2012/3/1 23:45,184.806,3.335,276.010,102193.024,1.277,0.047
17566,2012/3/1 23:50,184.784,3.439,275.989,102198.512,1.278,0.057
17567,2012/3/1 23:55,185.399,3.527,275.962,102202.176,1.278,0.065

In [21]:
# 将结果写入新的CSV文件
data1.to_csv('i1.csv', index=False)

# 2

In [22]:
data2 = df.iloc[0:35136]
print("Length of original data2 : ", len(data2))

Length of original data2 :  35136

In [23]:
data2

,date,wind direction at 100m (deg),wind speed at 100m (m/s),air temperature at 2m (K),surface air pressure (Pa),density at hub height (kg/m^3),OT
0,2012/1/1 0:00,139.827,3.256,278.031,102015.408,1.254,0.037
1,2012/1/1 0:05,142.810,3.289,278.070,102019.072,1.254,0.040
2,2012/1/1 0:10,144.975,3.378,278.095,102022.736,1.254,0.049
3,2012/1/1 0:15,145.431,3.433,278.125,102024.560,1.254,0.054
4,2012/1/1 0:20,144.772,3.457,278.159,102026.400,1.254,0.056
...,...,...,...,...,...,...,...
35131,2012/5/1 23:35,209.631,6.033,279.960,100913.080,1.244,0.521
35132,2012/5/1 23:40,208.785,5.984,279.895,100916.744,1.244,0.506
35133,2012/5/1 23:45,207.702,5.844,279.831,100920.408,1.245,0.473
35134,2012/5/1 23:50,206.950,5.737,279.773,100922.232,1.245,0.448
35135,2012/5/1 23:55,206.686,5.771,279.718,100924.064,1.245,0.456

In [24]:
# 将结果写入新的CSV文件
data2.to_csv('i2.csv', index=False)

# 3

In [25]:
data3 = df.iloc[0:52704]
print("Length of original data3 : ", len(data3))
data4 = df.iloc[0:70272]
print("Length of original data4 : ", len(data4))
data5 = df.iloc[0:87840]
print("Length of original data5 : ", len(data5))
data6 = df.iloc[87840:105408]
print("Length of original data6 : ", len(data6))

Length of original data3 :  52704
Length of original data4 :  70272
Length of original data5 :  87840
Length of original data6 :  17568

In [26]:
data6

,date,wind direction at 100m (deg),wind speed at 100m (m/s),air temperature at 2m (K),surface air pressure (Pa),density at hub height (kg/m^3),OT
87840,2012/11/1 0:00,179.446,8.240,285.053,100126.616,1.198,1.258
87841,2012/11/1 0:05,173.255,8.078,285.117,100118.376,1.198,1.198
87842,2012/11/1 0:10,166.790,8.270,285.120,100118.376,1.199,1.271
87843,2012/11/1 0:15,164.894,8.542,285.050,100117.464,1.199,1.373
87844,2012/11/1 0:20,166.810,8.603,284.839,100121.128,1.198,1.395
...,...,...,...,...,...,...,...
105403,2012/12/31 23:35,130.834,3.283,277.967,102001.672,1.255,0.040
105404,2012/12/31 23:40,131.515,3.295,277.976,102004.424,1.255,0.041
105405,2012/12/31 23:45,132.262,3.280,277.982,102001.672,1.254,0.040
105406,2012/12/31 23:50,134.146,3.265,278.006,102005.336,1.254,0.038
105407,2012/12/31 23:55,136.800,3.256,278.018,102009.000,1.254,0.037

In [27]:
# 将结果写入新的CSV文件
data3.to_csv('i3.csv', index=False)
data4.to_csv('i4.csv', index=False)
data5.to_csv('i5.csv', index=False)
# data6.to_csv('data6.csv', index=False)

# 4

In [24]:
D1 = df.iloc[0:17568]
print("Length of original D1: ", len(D1))

D2 = df.iloc[0:35136]
print("Length of original D2 : ", len(D2))

D3 = df.iloc[0:52704]
print("Length of original D3 : ", len(D3))

D4 = df.iloc[0:70272]
print("Length of original D4 : ", len(D4))

D5 = df.iloc[0:87840]
print("Length of original D5 : ", len(D5))

Length of original D1:  17568
Length of original D2 :  35136
Length of original D3 :  52704
Length of original D4 :  70272
Length of original D5 :  87840

In [25]:
# 将结果写入新的CSV文件
D1.to_csv('D1.csv', index=False)

D2.to_csv('D2.csv', index=False)

D3.to_csv('D3.csv', index=False)

D4.to_csv('D4.csv', index=False)

D5.to_csv('D5.csv', index=False)